In [1]:
import sqlalchemy as alc
from sqlalchemy import text
import pandas as pd
import numpy as np
eng = alc.create_engine(
    "mysql+mysqlconnector://root:N3ALK1mch12002@localhost/nfldata"
)

# Further Data Cleaning

In [35]:
query = text("SELECT * FROM week2tracking")
df = pd.read_sql(query, eng)
df.head()

,gameID,playID,nflID,displayName,frameID,gameTime,jerseyNumber,team,playDirection,xpos,...,speed,accel,distanceTraveled,orientationDegrees,motionDirection,playEvent,gameTime_cleaned,gameTime_dt,gameDate,gameTimeOnly
0,2022091500,55,40011.0,"""Travis Kelce""",1,None,87.0,"""KC""","""left""",87.2,...,0.00,0.00,0.0,263.11,138.55,None,None,None,2022-09-15,20:16:32.700000
1,2022091500,55,40011.0,"""Travis Kelce""",2,None,87.0,"""KC""","""left""",87.2,...,0.00,0.00,0.0,263.11,142.54,None,None,None,2022-09-15,20:16:32.799999
2,2022091500,55,40011.0,"""Travis Kelce""",3,None,87.0,"""KC""","""left""",87.2,...,0.00,0.00,0.0,262.47,143.82,None,None,None,2022-09-15,20:16:32.900000
3,2022091500,55,40011.0,"""Travis Kelce""",4,None,87.0,"""KC""","""left""",87.2,...,0.00,0.00,0.0,262.47,149.71,None,None,None,2022-09-15,20:16:33.000000
4,2022091500,55,40011.0,"""Travis Kelce""",5,None,87.0,"""KC""","""left""",87.2,...,0.01,0.15,0.0,262.47,309.38,None,None,None,2022-09-15,20:16:33.099999

## Modifications

1) Text fields like displayName, gameTime, team, etc. do not need quotes around them (seems they are just visual artifacts, no need to remove)
2) gameTime should be split into date and time.

In [4]:
from sqlalchemy import Column, String, Integer, Float, DateTime, MetaData, Table

def clean_datetime_string(dt_str):
        if not isinstance(dt_str, str):
            return dt_str
        
        # Remove any extra quotes or whitespace
        cleaned = dt_str.strip('"\'').strip()
        
        # Handle potential format issues (example: truncate microseconds if too long)
        if '.' in cleaned:
            parts = cleaned.split('.')
            main_part = parts[0]
            microseconds = parts[1][:6]  # Ensure microseconds are 6 digits or fewer
            return f"{main_part}.{microseconds}"
        
        return cleaned

def update_table(old_df: pd.DataFrame, new_path: String, new_table: String, old_table: String ):
    old_df['gameTime_cleaned'] = old_df['gameTime'].apply(clean_datetime_string)

    try:
        old_df['gameTime_dt'] = pd.to_datetime(old_df['gameTime_cleaned'], format='%Y-%m-%d %H:%M:%S.%f')
        print("Conversion successful after cleaning!")
    except Exception as e:
        print(f"Error after cleaning: {e}")
        
    # Try one more approach - just manually split the strings
    try:
        # Just split on space to get date and time parts separately
        old_df['gameDate'] = old_df['gameTime_cleaned'].str.split(' ').str[0]
        old_df['gameTimeOnly'] = old_df['gameTime_cleaned'].str.split(' ').str[1]
        print("Manual splitting successful!")
    except Exception as e:
        print(f"Error with manual splitting: {e}")

    old_df = old_df.drop(columns=['gameTime_cleaned', 'gameTime_dt', 'gameTime'])
    old_df = old_df.iloc[:, [0,1,2,3,4,16,17,5,6,7,8,9,10,11,12,13,14,15]]
    old_df.to_csv(new_path, index=False)
    
    metadata = MetaData()
    new_df = pd.read_csv(new_path)

    columns = []
    for column_name, dtype in new_df.dtypes.items():
        if pd.api.types.is_integer_dtype(dtype):
            columns.append(Column(column_name, Integer))
        elif pd.api.types.is_float_dtype(dtype):
            columns.append(Column(column_name, Float))
        elif pd.api.types.is_datetime64_dtype(dtype):
            columns.append(Column(column_name, DateTime))
        else:
            columns.append(Column(column_name, String(512)))

    new_scheme = Table(new_table, metadata, *columns)
    metadata.create_all(eng)
    
    new_df.to_sql(new_table, eng, if_exists='append', index=False, chunksize=1000)
    
    with eng.connect() as connection:
        connection.execute(text("DROP TABLE {}".format(old_table)))
        result = connection.execute(text("ALTER TABLE {} RENAME TO {}".format(new_table, old_table)))

In [12]:
query = text("SELECT * FROM week9tracking")
df = pd.read_sql(query, eng)
update_table(df, "data/week9tracking.csv", "week9trackingnew", "week9tracking")

Conversion successful after cleaning!
Manual splitting successful!

# Conversion is done